body{
    margin: 0;
    padding: 0;
}
#card{
    margin-top: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#liste-champions{
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#liste-champions>li{
    width: 16%;
    margin-inline: 15px;
    margin-bottom: 70px;
}

#liste-champions>li>#divImgChamp{
    display: block;
    overflow: hidden;
}


#liste-champions > li > #divImgChamp > #imgChamp {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}


#liste-champions p, select, button{
    margin: 0;
    background-color: rgb(09,14,28);
    border-top: solid 1px #785A28;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 15px;
    transition: all 0.3s ease;
}

#liste-champions > li:hover p {
    background-color: rgb(0, 102, 128);; /* Changer la co#liste-championseur du paragraphe */
}

#liste-champions > li:hover > #divImgChamp > #imgChamp {
    transform: scale(1.1); /* Zoom effect sur l'image */
}

/* #8d6a2d */

#buttonPage > button{
    padding-inline: 20px;
    background-color: rgb(52, 48, 48);
    color: white;
    font-weight: bold;
    font-size: 20px;  
    transition: all 0.3s ease;
}

#buttonPage > button:hover{
    background-color: rgb(113, 110, 110);
}